<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Red Social</title>
    <link rel="stylesheet" type="text/css" href="../Resources/css/cssExamen.css">
</head>
<body>
<h1 class="indexTitle">Red Social</h1>
<fieldset class="login">
    <div class="errorMsg">
        Usuario/Contraseña erróneos
    </div>
    <div class="registerLink">¿Tienes cuenta?, si no la tienes <a href="registro.html">regístrate</a></div>
    <button class="backButton" onclick="window.location.href='index.html'">← Volver al login</button>
</fieldset>
</body>
</html>