<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Red Social</title>
    <link rel="stylesheet" type="text/css" href="../Resources/css/cssExamen.css">
</head>
<body>
<h1 class="indexTitle">Red Social</h1>
<fieldset class="errorMsgFieldset">
    <div class="errorMsg">
        Registro fallido. Por favor tenga en cuenta que todos los campos son obligatorios
    </div>
    <button class="backButton" onclick="window.location.href='registro.html'">← Volver al registro</button>
</fieldset>
</body>
</html>