<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Red Social</title>
    <link rel="stylesheet" type="text/css" href="../Resources/css/cssExamen.css">
</head>
<body>
<h1 class="indexTitle">Red Social</h1>
<fieldset class="login">
    <form name="nuevoEstado" id="formuNuevoEstado" action="../../Controller/UsuariosController.php" method="post">
        <div>
            <label for="nuevoEstado" class="login">Nuevo estado</label> <input type="text" id="nuevoEstado" name="nuevoEstado">
        </div>

        <button class="nuevoEstado" onclick="submit(this)">Actualizar Estado</button>
    </form>
</fieldset>
</body>
</html>