# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/~WRL0003.tmp
/~$Ej1.docx
*.dia~
PHP/perfiles/
PHP/POO/userImages/
PHP/POODB/View/Resources/userImages/
.idea/
Java/prueba/target/
Java/ejercicios/ejercicio1/out/
Java/Ejercicios/out/
Java/EjerciciosJavaTema3_2/out/
Java/EjerciciosJavaTema4/out/
.iml
*.iml
Java/EjerciciosJavaTema5/out/
Wordpress/
