# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
*.dia~
PHP/POO/userImages/
PHP/POODB/View/Resources/userImages/
.idea/
.iml
*.iml
Wordpress/
out/
lib/*
*.jar
*.war
!/settings.jar
target/*
Documentacion/Modulo_2/Spring/ejercicios/~$ercicios Spring Core.docx
/*/*/target/
/*/*/classes/
*.class
/Spring/AgendaSpring/classes/
/Spring/AgendaSpring/target/
