# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/~WRL0003.tmp
/~$Ej1.docx
*.dia~
PHP/perfiles/
PHP/POO/userImages/
