body {
    text-align: center;
}
#principal {
    display: block;
    width: 500px;
    margin: 50px auto;
    padding: 15px;
    text-align: center;
    border: 1px solid #999999;
    background: #DDDDDD;
    border-radius: 10px 200px;
    box-shadow: rgba(240,140,140,0.5) -30px -3px 30px;
    background: linear-gradient(to top,blue,white);
    outline: 2px solid black;
    outline-offset: 10px;
    transition: all 3s;
}
#principal:hover {
    transform: rotate(360deg) scale(2);
}
#titulo {
    font: bold 36px mark_my_words, verdana, sans-serif;
    text-shadow: rgba(250,30,30,5) -10px -5px 10px;
}
@font-face {
    font-family: "mark_my_words";
    src: url("mark_my_words.ttf")
}
@media (max-width: 450px){
    body{
        background-color: black;
    }
}
