*{
    margin: 0px auto;
    padding: 0px;
    font-family: mark_my_words;
}

@font-face {
    font-family: "mark_my_words";
    src: url("mark_my_words.ttf")
}
@media (max-width: 450px){
    body{
        background-color: black;
    }
}

body{
    text-align: center;
    width: 1100px;
    height: 95%;
}

img{
    width: 400px;
}
a+div{
    background-color: #7CB8A6;
    width: 80%;
    height: 3px;
    margin: 2px auto;
    border-radius: 10px;
}
div~details{
    background-color: #7CB8A6;
    width: 20%;
    height: 3px;
    margin: 1px auto;
    border-radius: 10px;
}
ul{
     width: 70%;
}
li{
    display: inline;
    margin: 20px;
}
li>a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition-duration: 0.5s;
}
li>a:hover{
    color: #7CB8A6;
}
article{
    margin: 20px;
    font-size: 1.2em;
}
article p:first-child{
    color: #7CB8A6;
    font-size: 1.6em;
    margin-bottom: 15px;
}
article p:nth-child(3){
    font-size: 1.3em;
    margin: 5px 0px;
}
article p::first-letter{
    font-size: 1.5em;
}
article ul{
    display: inline;
}
article img{
    width: 250px;
    transition-duration: 1s;
    margin-left: 100px
}
article img:hover{
    transform: scale(1.1);
}
article+img{
    transition-duration: 1s;
}
article+img:hover{
    transform: scale(1.5);
}
