<!DOCTYPE html>
<html>
<body>
    <main>
        <aside>
            <ul>
                <li>
                    <a href="https://github.com/Gmuela/Melomify" target="_blank">Proyecto GitHub</a>
                </li>
                <li>
                    <a href="https://docs.google.com/presentation/d/1jUGwHEKPLTtCrFYHqrft3uhJepGNXtuATaFLNZc5U_Q/edit?usp=sharing" target="_blank">Presentación Powerpoint</a>
                </li>
                <li>
                    <a href="manual.html">Manual</a>
                </li>
            </ul>
        </aside>
</body>

</html>
