* {
    margin: 0px auto;
    padding: 0px;
    font-family: "Comic Sans MS";
}
body {
    width: 70%;
    padding: 10px;
    background-image: url(../img/bgImage3.jpg);
}
main {
    text-align: center;
    margin-top: 30px;
}
main h1 {
    margin-bottom: 50px;
    color: #71CFBF;
    font-size: 8em;
    text-shadow: 3px 6px 0px black;
    border-left: 15px solid #71CFBF;
    border-right: 15px solid #71CFBF;
}
main h3 {
    margin-bottom: 10px;
    color: #eb675e;
    text-shadow: 2px 2px 8px black;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 6px;
    font-size: 2em;
    border-bottom: 3px solid #eb675e;
    border-radius: 3px;
    width: 50%;
}
main p {
    margin-bottom: 3px;
    color: white;
}
.intro {
    animation-duration: 3s;
    animation-name: slidein;
    border-radius: 100px;
}
.cuerpoIntro {
    animation-duration: 8s;
    animation-name: fadeInFromNone;
}
.enlaceIntro,
.enlaceIntro a {
    text-decoration: none;
    margin-top: 50px;
    animation-duration: 9s;
    animation-name: fadeInFromNone;
    color: #52968B;
    font-weight: bolder;
    font-size: 1.5em;
    text-shadow: 2px 2px 8px black;
    transition: all 0.3s;
}
a:hover {
    color: #eb675e;
    text-decoration: underline;
}
@keyframes slidein {
    from {
        margin-left: 120%;
        border-right: 0px;
        border-left: 0px;
        opacity: 0;
    }
    to {
        margin-left: 0%;
        border-right: 15px solid #71CFBF;
        border-left: 15px solid #71CFBF;
        opacity: 1;
    }
}
@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}
.cabecera {
    animation-duration: 3s;
    animation-name: fadeInFromNone;
    font-size: 3em;
    width: 35%;
    border-radius: 150px;
    border-right: 10px solid #71CFBF;
    border-left: 10px solid #71CFBF;
}
span {
    color: #52968B;
    font-weight: bold;
}
.pomodoroTable {
    text-align: center;
    margin: 30px auto;
    animation-duration: 3s;
    animation-name: fadeInFromNone;
}
tr,
th {
    margin: 20px auto;
    border-radius: 10px;
}
th,
td {
    border: 3px solid #592724;
    border-collapse: collapse;
    text-align: center;
    height: 30px;
    width: 180px;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #eb675e;
}
tr:nth-child(odd) {
    background-color: #A64942;
}
th {
    padding: 2px;
    color: white;
}
.botonera {
    text-align: center;
}
button {
    margin-top: 10px;
    animation-name: fadeInFromNone;
    animation-duration: 3s;
}
.myButton {
    background: linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
    background-color: #e4685d;
    border: 1px solid #e4685d;
    border-radius: 6px;
    display: inline;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 13px 30px;
    text-decoration: none;
    text-shadow: 0px 2px 0px #b23e35;
    margin-left: 15px;
}
.myButton:hover {
    text-decoration: underline;
}
.myButton:active {
    position: relative;
    top: 2px;
}
.reloj {
    margin-top: 30px;
    height: 170px;
    width: 45%;
    text-align: center;
    padding: 5px;
    font-size: 10em;
    color: white;
    font-family: clock;
    animation-duration: 3s;
    animation-name: fadeInFromNone;
    border-radius: 25px;
    text-shadow: 4px 0px 0px #48857A;
    box-shadow: inset 1px 1px 300px rgba(255, 255, 255, 0.6);
}
@font-face {
    font-family: 'clock';
    src: url('../font/digital-7.ttf');
}
.stop {
    background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315', GradientType=0);
    background-color: #d0451b;
    border-radius: 42px;
    border: 1px solid #942911;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 28px;
    padding: 10px 18px;
    text-decoration: none;
    text-shadow: 0px 3px 0px #854629;
}
.stop:hover {
    background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b', GradientType=0);
    background-color: #bc3315;
}
.stop:active {
    position: relative;
    top: 1px;
}
.play {
    background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a', GradientType=0);
    background-color: #44c767;
    border-radius: 42px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 23px;
    padding: 13px 16px;
    text-decoration: none;
    text-shadow: 0px 3px 0px #2f6627;
}
.play:hover {
    background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767', GradientType=0);
    background-color: #5cbf2a;
}
.play:active {
    position: relative;
    top: 1px;
}
.nonBreak {
    background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a', GradientType=0);
    background-color: #44c767;
    border-radius: 42px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 23px;
    padding: 10px 16px;
    text-decoration: none;
    text-shadow: 0px 3px 0px #2f6627;
    margin-left: 25px;
}
.nonBreak:hover {
    background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767', GradientType=0);
    background-color: #5cbf2a;
}
.nonBreak:active {
    position: relative;
    top: 1px;
}
.break {
    background: linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25', GradientType=0);
    background-color: #ffc477;
    border-radius: 42px;
    border: 1px solid #eeb44f;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 23px;
    padding: 11px 16px;
    text-decoration: none;
    text-shadow: 0px 3px 0px #cc9f52;
}
.break:hover {
    background: linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477', GradientType=0);
    background-color: #fb9e25;
}
.break:active {
    position: relative;
    top: 1px;
}
.stop,
.break {
    margin-left: 25px;
}
.customTime, .newTask {
    background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7', GradientType=0);
    background-color: #007dc1;
    border-radius: 8px;
    border: 1px solid #124d77;
    display: block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 16px;
    text-decoration: none;
    text-shadow: 0px 2px 0px #154682;
    margin-top: 15px;
    margin-bottom: 35px;
}
.customTime:hover, .newTask:hover {
    background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1', GradientType=0);
    background-color: #0061a7;
}
.customTime:active, .newTask:active {
    position: relative;
    top: 1px;
}
button:disabled {
    opacity: 0.3;
}
select {
    display: block;
}
select,
input {
    background: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bolder;
    width: 220px;
    margin-top: 20px;
    margin-bottom: -5px;
    font-size: 1.2em;
    text-align: center;
    animation-duration: 3s;
    animation-name: fadeInFromNone;
    border-radius: 8px;
}
select option {
    margin: 40px;
    font-weight: bolder;
    width: 220px;
    margin-bottom: -5px;
    font-size: 1.2em;
    text-align: center;
}
select option:nth-child(even) {
    background-color: #8F8B88;
}
select option:nth-child(odd) {
    background-color: #87807A;
}
.newTask{
    margin-bottom: 20px;
}
.separadorTimerTable{
    border-radius: 15px;
    height: 3px;
    width: 30%;
    background-color: #71CFBF;
    animation-duration: 3s;
    animation-name: fadeInFromNone;
}
.prepareInput{
    background: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: 400;
    width: 170px;
    margin: 7px;
    font-size: 1em;
    text-align: center;
    animation-duration: 3s;
    animation-name: fadeInFromNone;
    border-radius: 4px;
}
.deleteTask {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	border-radius:24px;
	border:2px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:4px 7px;
	text-decoration:none;
	text-shadow:0px 2px 0px #854629;
    margin: 3px;
}
.deleteTask:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.deleteTask:active {
	position:relative;
	top:1px;
}
