body{
    font-family: "Comic Sans MS";
}
#header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}
#nav {
    line-height: 30px;
    background-color: #eeeeee;
    height: 300px;
    width: 100px;
    float: left;
    padding: 5px;
}
#nav li{
    list-style: none;
}
#nav li:hover{
    background-color: darkslategrey;
}
#section {
    width: 350px;
    float: left;
    padding: 10px;
}
#footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}
