body {
    background-color: lightgrey;
    font-family: "Comic Sans MS";
    font-size: 14px;
    margin: auto, 0;
    padding: 20px;
    text-align: center
}
h2 {
    padding: 15px;
}
.destacada {
    font-size: 16px;
}
p.destacada b {
    color: indianred;
    font-size: 20px;
    padding-left: 50px;
}
#primerSub {
    color: cadetblue;
}
a {
    text-decoration: none;
    font-style: oblique;
    font-weight: bold;
    color: black;
}
a:hover {
    color: cadetblue
}
.titulo {
    text-align: center;
    font-size: 70px;
    color: white;
    background-color: cadetblue;
    border-radius: 10px;
    border: 2px solid white;
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 10px 30px;
}
