/* CSS General y del index */

* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	background-color: #e0e0e0;
}

.container {
	width: 100%;
	margin: auto;
}

#Cabecera {
	width: 100%;
	background-color: #01319B;
	border-bottom: 2px solid #000000;
	box-shadow: rgb(150,150,150) 0px 5px 10px;
}

#Cabecera img[id="logo"] {
	width: 150px;
	height: 150px;
	margin: 30px 0px 0px 350px;
}

#Cabecera p[id="titulo"] {
	font-family: 'Righteous';
	font-size: 50px;
	text-align: center;
	color: #ffffff;
}

#Cuerpo {
	text-align: center;
	width: 100%;
	margin: auto;
	
}

#Cuerpo h2 {
	margin: 80px;
	font-family: 'Righteous';
	font-size: 35px;
	font-weight: bold;
	
}


.loginFormuUsuario{
width: 100%;
margin: 10px auto;
}




.input,.btn_login{
width:300px; 
background-color:#EFEFEF;
padding: .5rem;
margin: 10px auto;
border: none;
display:block; 
border-bottom: solid #C8C8C8 .2rem;

}

.input:focus {
	border-bottom: solid #F39B53 .2rem;
}


.btn_login {
	
	background: #01319B;
	background-image: -webkit-linear-gradient(top,  #01319B, #2980b9);
	background-image: -moz-linear-gradient(top,  #01319B, #2980b9);
	background-image: -ms-linear-gradient(top,  #01319B, #2980b9);
	background-image: -o-linear-gradient(top,  #01319B, #2980b9);
	background-image: linear-gradient(to bottom,  #01319B, #2980b9);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	font-family: Righteous ;
	color: #ffffff;
	font-size: 20px;
	text-decoration: none;
	display: block;
	margin: 30px auto;
}

.btn_login:hover {
	background: #01319B;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

/* CSS registro Usuario */

.formRegistroUsuario{
margin: 80px;	
}

.btn_registroUsuario{
	width:300px;
	background: #01319B;
	background-image: -webkit-linear-gradient(top,  #01319B, #2980b9);
	background-image: -moz-linear-gradient(top,  #01319B, #2980b9);
	background-image: -ms-linear-gradient(top,  #01319B, #2980b9);
	background-image: -o-linear-gradient(top,  #01319B, #2980b9);
	background-image: linear-gradient(to bottom,  #01319B, #2980b9);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	font-family: Righteous ;
	color: #ffffff;
	font-size: 20px;
	text-decoration: none;
	display: block;
	margin: 30px auto;
	padding: 10px;
}


.btn_registroUsuario:hover{
	background: #01319B;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

/* CSS Registro Contacto */ 


.btn_registroContacto{
	width:300px;
	background: #01319B;
	background-image: -webkit-linear-gradient(top,  #01319B, #2980b9);
	background-image: -moz-linear-gradient(top,  #01319B, #2980b9);
	background-image: -ms-linear-gradient(top,  #01319B, #2980b9);
	background-image: -o-linear-gradient(top,  #01319B, #2980b9);
	background-image: linear-gradient(to bottom,  #01319B, #2980b9);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	font-family: Righteous ;
	color: #ffffff;
	font-size: 20px;
	text-decoration: none;
	display: block;
	margin: 30px auto;
	padding: 10px;
}


.btn_registroContacto:hover {
	background: #01319B;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}
