* {
    margin: 0px auto;
    padding: 0px;
}
body {
    width: 500px;
    padding: 10px;
}
img{
    width: 120px;
}
table, td,
label {
    display: block;
    margin-bottom: 3px;
    margin-top: 15px;
    font-size: 0.9em;
    font-weight: bolder;
    opacity: 0.7;
    color: #eb675e;
}
input {
    height: 25px;
    border-radius: 4px;
}
input[type="text"] {
    width: 200px;
}
input[type="checkbox"], label.check, input[type="date"] {
    display: inline;
    margin-left: 5px;
}
div.divCheck{
    margin: 20px 0px;
}
fieldset {
    width: 300px;
    padding-left: 15px;
    border-radius: 4px;
}
fieldset legend {
    color: #eb675e;
    font-weight: bold;
}

fieldset#usuariosRegistrados{
    float: right;
}

h4{
    color: #eb675e;
    margin-top: 10px;
    margin-bottom: 5px;
}
.datos{
    margin-left: 15px;
    margin-bottom: 5px;
}

button {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.myButton {
    -moz-box-shadow: inset 0px 39px 0px -24px #e67a73;
    -webkit-box-shadow: inset 0px 39px 0px -24px #e67a73;
    box-shadow: inset 0px 39px 0px -24px #e67a73;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #eb675e));
    background: -moz-linear-gradient(top, #e4685d 5%, #eb675e 100%);
    background: -webkit-linear-gradient(top, #e4685d 5%, #eb675e 100%);
    background: -o-linear-gradient(top, #e4685d 5%, #eb675e 100%);
    background: -ms-linear-gradient(top, #e4685d 5%, #eb675e 100%);
    background: linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#eb675e', GradientType=0);
    background-color: #e4685d;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 9px 45px;
    padding-bottom: 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
    margin-bottom: 15px;
}
.myButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eb675e), color-stop(1, #e4685d));
    background: -moz-linear-gradient(top, #eb675e 5%, #e4685d 100%);
    background: -webkit-linear-gradient(top, #eb675e 5%, #e4685d 100%);
    background: -o-linear-gradient(top, #eb675e 5%, #e4685d 100%);
    background: -ms-linear-gradient(top, #eb675e 5%, #e4685d 100%);
    background: linear-gradient(to bottom, #eb675e 5%, #e4685d 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#eb675e', endColorstr='#e4685d', GradientType=0);
    background-color: #eb675e;
}
.myButton:active {
    position: relative;
    top: 1px;
}